type file
id FsBunny
version 0.0
authors Prolucid
description
    Streaming API for RabbitMQ
tags
	Streaming F# RabbitMQ event-driven
projectUrl
	http://www.github.com/Prolucid/FsBunny
licenseUrl
	http://prolucid.github.io/FsBunny/LICENSE.html
requireLicenseAcceptance false
iconUrl
	http://prolucid.github.io/FsBunny/img/logo.png
files
	build_output/FsBunny.dll ==> lib/net45
	build_output/FsBunny.xml ==> lib/net45
dependencies
	RabbitMQ.Client >= 4.1.3
