redirects: on

group Main
framework: netstandard2.0
storage: none
source https://www.nuget.org/api/v2

    nuget FSharp.Core redirects: force
    nuget RabbitMQ.Client


group Tests
source https://nuget.org/api/v2
framework: net461

    nuget Nunit 2.6.4
    nuget Nunit.Runners 2.6.4
    nuget Unquote


group Build
framework: net46
source https://nuget.org/api/v2
    nuget FSharp.Core ~> 4 redirects: force
    nuget Argu
    nuget SourceLink.Fake
    nuget FAKE
    nuget FSharp.Formatting
    nuget FSharp.Compiler.Service 2.0.0.6
    nuget Newtonsoft.Json
    nuget Fable.JsonConverter

    github fsharp/FAKE modules/Octokit/Octokit.fsx