redirects: on
framework: >=net45

group Main
    source https://www.nuget.org/api/v2

    nuget FSharp.Core redirects: force
    nuget RabbitMQ.Client


group Tests
    source https://nuget.org/api/v2

    nuget Nunit 2.6.4
    nuget Nunit.Runners 2.6.4
    nuget Unquote


group Build
framework: NET46
    source https://nuget.org/api/v2
    nuget FSharp.Core ~> 4 redirects: force
    nuget Argu
    nuget SourceLink.Fake
    nuget FAKE
    nuget FSharp.Formatting
    nuget Newtonsoft.Json
    nuget Fable.JsonConverter

    github fsharp/FAKE modules/Octokit/Octokit.fsx